.main_content_section h2 {
    background: #000855fd;
    height: 4rem;
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
    font-size: 1.5rem;
}

.registrar {
    margin-top: 1.4rem;
    /* background-color: #00b74a; */
}

.registrar:hover {
    /* background-color: #198754; */
}

.limpar {
    /* background-color: #ffc107; */
    background-color: #fff;
    color: rgb(0, 70, 182);;
}

.limpar:hover {
    /* background-color: #ffa900; */
    background-color: rgb(233, 233, 233);
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
    .main_content_section h2 {
        height: 0;
    }
}  