.main {
  width: 70%;
  margin: 0 4rem 2rem 2rem;
  flex: 1;
  display: flex;
  float: right;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.grid {
  width: 62rem;
  display: flex;
  position: relative;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
}

.grid .card {
  padding: 1.5rem;
  width: 100%;
  margin: 2.5rem 0.45rem 2rem;
}

.card {
    position: relative; 
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.card:hover,
.card:focus,
.card:active {
  box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 11%), 0 8px 10px -6px rgb(0 0 0 / 9%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .5s ease-in-out;
}

.card .div {
  display: flex;
  align-self: flex-end;
}

.card h1 {
  text-align: center;
  padding: 0;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.client {
  width: 90%;
  height: 2rem;
}

@media (max-width:485px) {
  .main {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.2rem;
  }
  .grid {
    width: 32rem;
    margin-left: 1rem;
    padding: 0 0.8rem 0 0;
  }
  .card {
    width: 100%;
  }
  .client {
    width: 100%;
  }
}
