.list {
    color: #000;
    padding-left: 0.5rem;
    line-height: 2.4;
    border: 1px solid #e0e0e0!important;
    padding: 1.5rem!important;
}

.tabela { 
    width: 100%;
    border-bottom: 1px solid #e0e0e0!important;
} 

.tabela tr {
    height: 1.6rem;
}

.tabela th {
    width: 14%;
    text-align: center;
}

.tabela td {
    width: 14%;
    text-align: center;
}

.tabela td:first-child {
    font-weight: bold;
}

.main_content_section button {
    padding: .375rem 1rem .3125rem;
    font-size: .75rem;
    line-height: 1.5;
}

.alterar {
    background-color:#ffc107;
}

.alterar:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #ffa900;
}

.deletar {
    background-color: #ff1e44;
    color: transparent;  
    text-shadow: 0 0 0 #fff;
}

.deletar:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #dd2235;
}

@media (max-width:485px) {
    .list {
        padding: 0;  
    }
    
    .tabela { 
        width: 60%;
    } 
    .tabela tr {
        width: 100%;
        display: flex;
        height: 16rem;
        height: 2.6rem;
        
    }
    .tabela td {
        width: 5rem;
        border: 1px solid #000;
    }
    
    .tabela tr > th:nth-child( n + 5 ) {
        visibility: hidden;    
        background-color: #000;
        float: right;
    }

    .tabela th {
        width: 24%;
        text-align: center;
        
    }
    
    .tabela tr:first-child {
        
    }
    
    .main_content_section button {
        font-size: .65rem;
        line-height: 1.5;
    }
}